# compiled output
/frontend/dist
/frontend/tmp
/frontend/out-tsc

# dependencies
/frontend/node_modules

# IDEs and editors

/./.idea
/frontend/.project
/frontend/.classpath
/frontend/.c9/
/frontend/*.launch
/frontend/.settings/
/frontend/*.sublime-workspace

# IDE - VSCode
/frontend/.vscode/*
/frontend/!.vscode/settings.json
/frontend/!.vscode/tasks.json
/frontend/!.vscode/launch.json
/frontend/!.vscode/extensions.json

# misc
/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage
/frontend/libpeerconnection.log
/frontendnpm-debug.log
/frontendtestem.log
/frontend/typings
/frontend/docs

# e2e
/frontend/e2e/*.js
/frontend/e2e/*.map

# System Files
/frontend/.DS_Store
/frontend/Thumbs.db
