language: python
python:
  - 3.6
before_install:
  - python --version
  - pip install -U pip
  - pip install -U pytest
  - pip install codecov
  - "export PYTHONPATH=$PYTHONPATH:$(pwd)"
script: python -m pytest # run tests
after_success:
  - codecov # submit coverage
