<!--<mat-paginator [length]="length"-->
<!--               [pageSize]="pageSize"-->
<!--               [pageSizeOptions]="pageSizeOptions"-->
<!--               (page)="pageEvent = $event"-->
<!--               aria-label="Select page">-->
<!--</mat-paginator>-->

<nb-card size="small" >
  <nb-card-header>

    <div class="row">
      {{collection.name}}
      <span class="delta" [class.up]="collection.verified" [class.down]="!collection.verified">
          <nb-icon  [icon]="collection.verified ? 'checkmark-circle-2' : 'minus-circle' " pack="eva"></nb-icon>
      </span>
    </div>

    <div class="row">
      guid: 200/{{collection.id}}
    </div>

  </nb-card-header>
  <nb-card-body [style.background-image]="'url('+collection.image+')'" [style.background-size]="'cover'" [style.background-position]="'center'" >
<!--    <img [src]="collection.image">-->
  </nb-card-body>
  <nb-card-footer>
    {{collection.assetCount}} assets
    <button
      size="tiny"
      status="success"
      (click)="onFolderOpenClick()"
      nbButton> Open </button>
    <button
      size="tiny"
      status="info"
      (click)="onFolderEditClick(dialog)"
      nbButton> Edit </button>
    <button
      size="tiny"
      status="danger"
      (click)="onFolderDeleteClick()"
      nbButton>
      Delete
    </button>
  </nb-card-footer>
</nb-card>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card size="giant">
    <nb-card-header>
      <button nbButton (click)="saveFolderChanges()" size="tiny" status="success">Save</button>
      <button nbButton (click)="ref.close()" size="tiny" status="danger">Close</button>
    </nb-card-header>
    <nb-card-body>
      <div class="form-group">
        <label class="label">Folder Name</label>
        <input type="text" nbInput fullWidth [placeholder]="collection.name" [(ngModel)]="newName">
        <label class="label">Image URL</label>
        <input type="text" nbInput fullWidth  [placeholder]="collection.image" [(ngModel)]="newImage">
        <nb-toggle [(ngModel)]="collection.verified">{{collection.verified ? 'verified' : 'not verified' }}</nb-toggle>

      </div>

<!--      <label>Verified:-->
<!--        <nb-checkbox [(checked)]="newVerified"></nb-checkbox>-->
<!--        <input type="text" nbInput fullWidth  [placeholder]="collection.verified" [(ngModel)]="newVerified">-->
<!--      </label>-->
<!--      <br/>-->
      <ng2-smart-table #test [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
                       (editConfirm)="onEditConfirm($event)" (createConfirm)="onCreateConfirm($event)">
      </ng2-smart-table>

    </nb-card-body>
  </nb-card>
</ng-template>
