<div class="lists row">
  <div class="col-md-4 ">
    <nb-card size="large">
      <nb-card-body>
        <nb-list *ngIf="assets">
          <nb-list-item *ngFor="let asset of assets.data">
            <nb-user shape="rectangle" [name]="asset.name" [picture]="asset.smallImage" (click)="onClick(asset)" ></nb-user>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-8 ">
    <nb-card>
      <nb-card-header>
        {{currentAsset}} Meta-Tags
      </nb-card-header>

      <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"
                         (editConfirm)="onEditConfirm($event)" (createConfirm)="onCreateConfirm($event)">
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
