<input type="text" nbInput placeholder="Put the search term here" shape="round" [(ngModel)]="searchTerm" (keydown.enter)="searchAssets()" >
<button nbButton hero status="primary" shape="round" size="tiny" (click)="searchAssets()"><nb-icon icon="search-outline"></nb-icon></button>
<nb-card size="giant">
  <nb-card-header>
    Asset
    <div>
      <label>Page:</label>
      <button nbButton ghost status="primary"  size="tiny" (click)="prevPage()" [disabled]="page<=1">
        <nb-icon icon="arrow-ios-back-outline" status="basic"></nb-icon>
      </button>
      <label>{{page}} of {{ceil(total/pageSize)}}</label>
      <button nbButton ghost status="primary"  size="tiny" (click)="nextPage()" [disabled]="page>=(total/pageSize)">
        <nb-icon icon="arrow-ios-forward-outline" status="basic"></nb-icon>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <ngx-meta-tag-editor></ngx-meta-tag-editor>
  </nb-card-body>
</nb-card>
