@import '../../@theme/styles/themes';

@include nb-install-component() {
  nb-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    padding-top: nb-theme(card-header-with-select-padding-top);
    padding-bottom: nb-theme(card-header-with-select-padding-bottom);
  }

  nb-card-body {
    padding: 0;
  }

  .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .single-view-button {
    .nb-square {
      font-size: 1rem;
    }

    @include nb-ltr {
      margin-left: auto;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    @include nb-rtl {
      margin-right: auto;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .grid-view-button {
    ::ng-deep svg {
      vertical-align: top;
    }

    @include nb-ltr {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    @include nb-rtl {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .nb-square {
      font-size: 1rem;
    }
  }


}



