<div align="center">
  <input type="text" nbInput placeholder="Put the search term here" shape="round" [(ngModel)]="searchTerm" (keydown.enter)="searchAssets()" >
  <button nbButton hero status="primary" shape="round" size="tiny" (click)="searchAssets()"><nb-icon icon="search-outline"></nb-icon></button>
  <div>
    <nb-checkbox [(checked)]="met" >MET</nb-checkbox>
    <nb-checkbox [(checked)]="rijk">Rijksmuseum</nb-checkbox>
    <nb-checkbox [(checked)]="cleveland">Cleveland Museum of Art</nb-checkbox>
    <nb-checkbox [(checked)]="local">Local</nb-checkbox>
  </div>
</div>


<div class="topbar">
  <button class="single-view-button"
          nbButton
          size="tiny"
          [appearance]="isSingleView ? 'filled' : 'outline'"
          (click)="isSingleView = true">
    <i class="nb-square"></i>
  </button>
  <button class="grid-view-button"
          nbButton
          size="tiny"
          [appearance]="isSingleView ? 'outline' : 'filled'"
          (click)="isSingleView = false">
    <nb-icon icon="grid" pack="eva"></nb-icon>
  </button>
</div>


<div class="single-view" *ngIf="isSingleView">
   <ng2-smart-table [settings]="assetsSettings" [source]="tableSource"> </ng2-smart-table>
<!--  (userRowSelect)="onClick($event)" (deleteConfirm)="onFolderMemberDeleteConfirm($event)"-->
</div>

<div class="row" *ngIf="!isSingleView">
  <nb-tabset >
    <nb-tab [tabTitle]="s.name" *ngFor="let s of source; let i = index" responsive [active]="i==0">
      <div>
        <label>Page:</label>
        <button nbButton ghost status="primary"  size="tiny" (click)="prevPage(s)" [disabled]="s.page<=1">
          <nb-icon icon="arrow-ios-back-outline" status="basic"></nb-icon>
        </button>
        <label>{{s.page}} of {{ceil(s.total/s.pageSize)}}</label>
        <button nbButton ghost status="primary"  size="tiny" (click)="nextPage(s)" [disabled]="s.page>=(s.total/s.pageSize)">
          <nb-icon icon="arrow-ios-forward-outline" status="basic"></nb-icon>
        </button>
      </div>
      <ngx-card-deck [assets]="s.data" [source]="s.name" [searchTerm]="searchTerm"></ngx-card-deck>
    </nb-tab>
  </nb-tabset>
</div>


