<div align="center">
  <input type="text" nbInput placeholder="Put the search term here" shape="round" [(ngModel)]="searchTerm" (keydown.enter)="searchAssets()" >
  <button nbButton hero status="primary" shape="round" size="tiny" (click)="searchAssets()"><nb-icon icon="search-outline"></nb-icon></button>
  <div>
    <nb-checkbox [(checked)]="met" >MET</nb-checkbox>
    <nb-checkbox [(checked)]="rijk">Rijksmuseum</nb-checkbox>
    <nb-checkbox [(checked)]="cleveland">Cleveland Modern Art Museum</nb-checkbox>
  </div>
</div>




<nb-card size="large" *ngFor="let s of source">
  <nb-card-header>
    {{s.name}}
  </nb-card-header>
  <nb-card-body  align="center">
    <ngx-card-deck [assets]="s.data" [source]="s.name" [searchTerm]="searchTerm"></ngx-card-deck>
  </nb-card-body>
</nb-card>

