
  <div class="row">
    <div class="col-4" *ngFor="let tag of tags;">
        <label [for]="tag.tagName" class="label">{{tag.tagName}}</label><br>
<!--        <input type="text" nbInput fullWidth [id]="i.originalTagName" [value]="i.value" (input)="sendTheNewValue($event)">-->
<!--        <textarea nbInput [id]="tag.originalTagName" [value]="tag.value" (input)="sendTheNewValue($event)" fullWidth></textarea>-->

      <div *ngIf="isArray(tag.value)">
        <div *ngFor="let element of tag.value; let i = index">
          <textarea nbInput [(ngModel)]="tag.value[i]" (ngModelChange)="sendTheNewValue($event)" fullWidth></textarea>
        </div>
      </div>

      <button (click)="addNewElement('')">Add new textarea</button>
    </div>
    </div>



<!--<div class="mat-elevation-z8">-->
<!--  <table mat-table [dataSource]="tags" >-->

<!--    &lt;!&ndash;- Note that these columns can be defined in any order.-->
<!--          The actual rendered columns are set as a property on the row definition" &ndash;&gt;-->

<!--    &lt;!&ndash; Position Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="tagName">-->
<!--      <th mat-header-cell *matHeaderCellDef> tag </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.tagName}} </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Name Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="value">-->
<!--      <th mat-header-cell *matHeaderCellDef> value </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.value}} </td>-->
<!--    </ng-container>-->

<!--    &lt;!&ndash; Name Column &ndash;&gt;-->
<!--    <ng-container matColumnDef="originalTagName">-->
<!--      <th mat-header-cell *matHeaderCellDef> originalTagName </th>-->
<!--      <td mat-cell *matCellDef="let element"> {{element.originalTagName}} </td>-->
<!--    </ng-container>-->

<!--    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--  </table>-->

<!--  <mat-paginator [pageSizeOptions]="[5, 10, 20]"-->
<!--                 showFirstLastButtons-->
<!--                 aria-label="Select page of periodic elements">-->
<!--  </mat-paginator>-->
<!--</div>-->
