<button nbButton size="tiny" nbButton status="primary" (click)="goToMergePage()">
  <nb-icon icon="swap-outline" status="basic"></nb-icon>
</button>

<div class="row">
    <div  *ngFor="let c of collections" class="thumbnail">
      <ngx-folder-card [ngStyle]="{'width':'300' + 'px'}" [collection]="c" (folderDelete)="onFolderDeleteClick(c)" (folderOpen)="onFolderOpenClick(c)"></ngx-folder-card>
    </div>
</div>


<ng-template #form>
  <nb-card>
    <input type="text" nbInput placeholder="Folder Name" [(ngModel)]="newCollectionName">
    <button nbButton (click)="onCreateCollection()">save</button>
  </nb-card>
</ng-template>
