<div class="lists row">
  <div class="col-md-4 ">
    <nb-select placeholder="Select Folder" [(selected)]="chosenCollection" (selectedChange)="onSelect()">
      <nb-option *ngFor="let c of collections" [value]="c">{{c.name}}</nb-option>
    </nb-select>
    <nb-card size="giant">
      <nb-card-body>
        <ng2-smart-table [settings]="assetsSettings" [source]="assetsSource" (userRowSelect)="onRowSelect($event)"></ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-8 ">
    <div class="row">
      <button nbButton status="info" size="tiny" (click)="addText()">Add Text</button>
      <button nbButton status="info" size="tiny" (click)="saveLayout()">save layout</button>
    </div>
    <nb-tabset (changeTab)="onChangeTab($event)">
      <nb-tab tabTitle="Left Wall" id="container1">
      </nb-tab>
      <nb-tab tabTitle="Center Wall" id="container2">
      </nb-tab>
      <nb-tab tabTitle="Right Wall" id="container3">
      </nb-tab>
    </nb-tabset>
  </div>
</div>
